
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.main-header {
  height: 3rem;
  background-color: black;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

}

.package {
  width: 50%;
  background-color: gainsboro;
  border: 2px solid black;
  position: relative;
  margin: 2rem;
  overflow: hidden;
}

.clearfix{
  clear: both;
}

#plus {
  float: right;
}

.main-footer{
  background-color: black;
  color: white;
  height: 3rem;
  width: 100%;
}