.schedule-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 120px);
}
.schedule-page .schedule-page__title {
  font-size: 2rem;
  color: #94377C;
}
.schedule-page .schedule-page__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.schedule-page .schedule-page__form .form-row__container {
  display: flex;
  flex-direction: column;
}
.schedule-page .schedule-page__form .form-row__container input, .schedule-page .schedule-page__form .form-row__container select {
  height: 2rem;
  margin-bottom: 0.4rem;
  background-color: white;
  border: 0.5px solid #dfdfdf;
  border-radius: 5px;
}
.schedule-page .schedule-page__form .form-row__container input:hover, .schedule-page .schedule-page__form .form-row__container input:focus, .schedule-page .schedule-page__form .form-row__container select:hover, .schedule-page .schedule-page__form .form-row__container select:focus {
  border: 1px solid #9756E7;
  outline: none;
}
.schedule-page .schedule-page__form .form-row__container label {
  font-size: 0.7rem;
  color: red;
  font-weight: bold;
}
.schedule-page .schedule-page__form label {
  font-size: 1.5rem;
}
.schedule-page .schedule-page__form button {
  width: 100%;
  height: 2.5rem;
  margin-top: 2rem;
  background-color: #EE587D;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
}
.schedule-page .schedule-page__form button:hover {
  background-color: white;
  color: #EE587D;
  border: 1px solid #EE587D;
}
.schedule-page #schedule-page__message {
  font-size: 5rem;
  font-weight: bold;
}

.modal-overlay {
  font-family: "Manjari", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  display: flex;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
}
.modal-overlay .modal {
  position: fixed;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 200;
  width: 100%;
  left: 0;
  top: 50%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.modal-overlay .modal .modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}
.modal-overlay .modal .modal__actions {
  text-align: center;
}
.modal-overlay .modal .modal__action {
  border: 1px solid #EE587D;
  background: #EE587D;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}
.modal-overlay .modal .modal__action:hover,
.modal-overlay .modal .modal__action:focus {
  background: white;
  color: #EE587D;
}
.modal-overlay .modal .modal__action--negative {
  background: #332965;
  border-color: #332965;
}
.modal-overlay .modal .modal__action--negative:hover,
.modal-overlay .modal .modal__action--negative:active {
  background: white;
  border-color: #332965;
  color: #332965;
}

.modal-overlay[aria-hidden=false] {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.modal-overlay[aria-hidden=true] {
  opacity: 0;
  visibility: hidden;
}

/* .modal-overlay[aria-hidden="false"]:not(:focus-within) {
  background-color: rgb(255, 255, 254);
  transition: background-color 0.01s;
} */
@media (min-width: 40rem) {
  .schedule-page {
    height: calc(100% - 7.5rem);
  }
  .schedule-page .schedule-page__title {
    font-size: 3rem;
  }
  .schedule-page .schedule-page__form {
    width: 30rem;
    grid-template-columns: 10rem auto;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;
    display: grid;
    padding: 1rem;
    align-items: center;
  }
  .schedule-page .schedule-page__form label {
    font-size: 2rem;
  }
  .schedule-page .schedule-page__form button {
    grid-column: 1/3;
    width: 50%;
    justify-self: center;
    height: 2rem;
  }

  .modal-overlay .modal {
    top: 20%;
    left: 30%;
    width: 40%;
  }
}

/*# sourceMappingURL=tours.css.map */
